@page "/"

<h1>Hi (excuse the mess)</h1>


<textarea @bind="input" rows="1" cols="50"></textarea>
<button class="btn btn-primary" @onclick="(async ()=> await GetValue() )">Get result</button>

<h2>result</h2>
<p>@result</p>

@if (error)
{
    <h2 style="color: red">error has occured</h2>
}





